#ifndef CALL_RECORDER_API_{{classname}}_H_
#define CALL_RECORDER_API_{{classname}}_H_

#include "ApiClient.h"

{{#imports}}
#include "{{import}}.h"
{{/imports}}

{{#operations}}
{{#operation}}
#include "{{vendorExtensions.x-name-in-pascal-case}}Request.h"
{{/operation}}
{{/operations}}

#include <boost/optional.hpp>
#include <memory>
#include <string>

namespace call {
namespace recorder {
namespace api {

using namespace call::recorder::api::models;

class {{classname}};
typedef std::shared_ptr<{{classname}}> {{classname}}Ptr;

class  {{classname}}
{
public:
    static {{classname}}Ptr create(const std::string& baseUrl);

    {{classname}}(std::shared_ptr<ApiClient> apiClient);
    virtual ~{{classname}}();

    {{#operations}}
    {{#operation}}
    {{vendorExtensions.x-name-in-pascal-case}}ResponsePtr {{vendorExtensions.x-name-in-camel-case}}(const {{vendorExtensions.x-name-in-pascal-case}}Request& request);
    pplx::task<{{vendorExtensions.x-name-in-pascal-case}}ResponsePtr> {{vendorExtensions.x-name-in-camel-case}}Async(const {{vendorExtensions.x-name-in-pascal-case}}Request& request);

    {{/operation}}
    {{/operations}}

private:
    std::shared_ptr<ApiClient> m_ApiClient;
};

}
}
}

#endif /* CALL_RECORDER_API_{{classname}}_H_ */
