#include "{{classname}}.h"
#include "IHttpBody.h"
#include "JsonBody.h"
#include "MultipartFormData.h"

#include <unordered_set>

#include <boost/algorithm/string/replace.hpp>

namespace call {
namespace recorder {
namespace api {

using namespace call::recorder::api::models;

{{classname}}Ptr {{classname}}::create(const std::string& baseUrl)
{
    auto config = std::make_shared<ApiConfiguration>();
    config->setBaseUrl(baseUrl);

    web::http::client::http_client_config httpConfig;
    httpConfig.set_validate_certificates(false);
    config->setHttpConfig(httpConfig);

    auto client = std::make_shared<ApiClient>(config);
    return std::make_shared<{{classname}}>(client);
}

{{classname}}::{{classname}}(std::shared_ptr<ApiClient> apiClient)
    : m_ApiClient(apiClient)
{
}

{{classname}}::~{{classname}}()
{
}

{{#operations}}
{{#operation}}
{{vendorExtensions.x-name-in-pascal-case}}ResponsePtr {{classname}}::{{vendorExtensions.x-name-in-camel-case}}(const {{vendorExtensions.x-name-in-pascal-case}}Request& request)
{
    return {{vendorExtensions.x-name-in-camel-case}}Async(request).get();
}

pplx::task<{{vendorExtensions.x-name-in-pascal-case}}ResponsePtr> {{classname}}::{{vendorExtensions.x-name-in-camel-case}}Async(const {{vendorExtensions.x-name-in-pascal-case}}Request& request)
{
    std::shared_ptr<ApiConfiguration> apiConfiguration( m_ApiClient->getConfiguration() );
    utility::string_t path = utility::conversions::to_string_t("/rapi{{path}}");
    
    std::map<utility::string_t, utility::string_t> queryParams;
    std::map<utility::string_t, utility::string_t> headerParams( apiConfiguration->getDefaultHeaders() );
    std::map<utility::string_t, utility::string_t> formParams;
{{#formParams}}
    if (request.{{paramName}}().length() > 0)
    {
        formParams.insert("{{paramName}}", request.{{paramName}}());
    }
{{/formParams}}

    std::map<utility::string_t, std::shared_ptr<HttpContent>> fileParams;

    std::unordered_set<utility::string_t> responseHttpContentTypes({"application/json", "text/html"});

    utility::string_t responseHttpContentType;

    // use JSON if possible
    if ( responseHttpContentTypes.size() == 0 )
    {
        responseHttpContentType = utility::conversions::to_string_t("application/json");
    }
    // JSON
    else if ( responseHttpContentTypes.find(utility::conversions::to_string_t("application/json")) != responseHttpContentTypes.end() )
    {
        responseHttpContentType = utility::conversions::to_string_t("application/json");
    }
    // multipart formdata
    else if( responseHttpContentTypes.find(utility::conversions::to_string_t("multipart/form-data")) != responseHttpContentTypes.end() )
    {
        responseHttpContentType = utility::conversions::to_string_t("multipart/form-data");
    }
    else
    {
        throw ApiException(400, utility::conversions::to_string_t("{{classname}}->{{vendorExtensions.x-name-in-pascal-case}}Post does not produce any supported media type"));
    }

    headerParams[utility::conversions::to_string_t("Accept")] = responseHttpContentType;

    std::unordered_set<utility::string_t> consumeHttpContentTypes({"application/x-www-form-urlencoded"});

    std::shared_ptr<IHttpBody> httpBody;
    utility::string_t requestHttpContentType;

    // use JSON if possible
    if ( consumeHttpContentTypes.size() == 0 || consumeHttpContentTypes.find(utility::conversions::to_string_t("application/json")) != consumeHttpContentTypes.end() )
    {
        requestHttpContentType = utility::conversions::to_string_t("application/json");
    }
    // multipart formdata
    else if( consumeHttpContentTypes.find(utility::conversions::to_string_t("multipart/form-data")) != consumeHttpContentTypes.end() )
    {
        requestHttpContentType = utility::conversions::to_string_t("multipart/form-data");
    }
    else if( consumeHttpContentTypes.find(utility::conversions::to_string_t("application/x-www-form-urlencoded")) != consumeHttpContentTypes.end() )
    {
        requestHttpContentType = utility::conversions::to_string_t("application/x-www-form-urlencoded");
    }
    else
    {
        throw ApiException(415, utility::conversions::to_string_t("{{classname}}->{{vendorExtensions.x-name-in-pascal-case}}Post does not consume any supported media type"));
    }


    return m_ApiClient->callApi(path, utility::conversions::to_string_t("POST"), queryParams, httpBody, headerParams, formParams, fileParams, requestHttpContentType)
    .then([=](web::http::http_response response)
    {
        // 1xx - informational : OK
        // 2xx - successful       : OK
        // 3xx - redirection   : OK
        // 4xx - client error  : not OK
        // 5xx - client error  : not OK
        if (response.status_code() >= 400)
        {
            throw ApiException(response.status_code()
                , utility::conversions::to_string_t("error calling {{vendorExtensions.x-name-in-pascal-case}}Post: ") + response.reason_phrase()
                , std::make_shared<std::stringstream>(response.extract_utf8string(true).get()));
        }

        // check response content type
        if(response.headers().has(utility::conversions::to_string_t("Content-Type")))
        {
            utility::string_t contentType = response.headers()[utility::conversions::to_string_t("Content-Type")];
            if( contentType.find(responseHttpContentType) == std::string::npos )
            {
//                throw ApiException(500
//                    , utility::conversions::to_string_t("error calling {{vendorExtensions.x-name-in-pascal-case}}Post: unexpected response type: ") + contentType
//                    , std::make_shared<std::stringstream>(response.extract_utf8string(true).get()));
            }
        }

        return response.extract_string();
    })
    .then([=](utility::string_t response)
    {
        auto jresponse = web::json::value::parse(response);
        return {{vendorExtensions.x-name-in-pascal-case}}Response::Builder{}
{{#vendorExtensions.x-response}}
{{#allVars}}
                .{{name}}(jresponse["{{name}}"].as_string())
{{/allVars}}
{{/vendorExtensions.x-response}}
                .build();
    });
}

{{/operation}}
{{/operations}}

}
}
}

