class {{classname}}
{
    public:
    enum class Value
    {
{{#allowableValues}}{{#enumVars}}
        {{{name}}},
{{/enumVars}}{{/allowableValues}}
    };

    static std::string toString(const Value value);
    static Value fromString(const std::string& value);

    private:
        {{classname}}();
};
