std::string {{classname}}::toString(const {{classname}}::Value value)
{
    const std::map<{{classname}}::Value, std::string> {{classname}}ValueToStringMap {
    {{#allowableValues}}{{#enumVars}}
        {
            {{classname}}::Value::{{name}},
            {{value}}
        },
    {{/enumVars}}{{/allowableValues}}
    };

    auto it = {{classname}}ValueToStringMap.find(value);
    return it->second;
}

{{classname}}::Value {{classname}}::fromString(const std::string& value)
{
    const std::map<std::string, {{classname}}::Value> StringTo{{classname}}ValueMap {
    {{#allowableValues}}{{#enumVars}}
        {
            {{value}},
            {{classname}}::Value::{{name}}
        },
    {{/enumVars}}{{/allowableValues}}
    };

    auto it = StringTo{{classname}}ValueMap.find(value);
    return it->second;
}
