{{#models}}
{{#model}}
#include "{{classname}}.h"

namespace call {
namespace recorder {
namespace api {
namespace models {

{{#is this 'enum'}}{{>enum.cpp}}{{/is}}{{#isNot this 'enum'}}{{>pojo.cpp}}{{/isNot}}

}
}
}
}
{{/model}}
{{/models}}