#ifndef CALL_RECORDER_API_MODELS_{{classname}}_H_
#define CALL_RECORDER_API_MODELS_{{classname}}_H_

#include <string>
#include <memory>
#include <vector>

#include "Object.h"
{{#imports}}
#include "{{import}}.h"
{{/imports}}

namespace call {
namespace recorder {
namespace api {
namespace models {

{{#models}}
{{#model}}
{{#is this 'enum'}}{{>enum.h}}{{/is}}{{#isNot this 'enum'}}{{>pojo.h}}{{/isNot}}
{{/model}}
{{/models}}

}
}
}
}

#endif