class {{classname}};
typedef std::shared_ptr<{{classname}}> {{classname}}Ptr;

class {{classname}} : public Object
{
public:
    class Builder;

    {{classname}}(
{{#vars}}
        const {{datatype}}& {{name}}{{#hasMore}},{{/hasMore}}
{{/vars}}
    );
    {{classname}}& operator=(const {{classname}}& other);
    virtual ~{{classname}}();

{{#vars}}
    const {{datatype}}& {{name}}() const;
{{/vars}}

private:
{{#vars}}
    {{datatype}} m_{{name}};
{{/vars}}
};

class {{classname}}::Builder
{
public:
{{#vars}}
    Builder& {{name}}(const {{datatype}}& {{name}});
{{/vars}}

    {{classname}}Ptr build() const;

private:
{{#vars}}
    {{datatype}} m_{{name}};
{{/vars}}
};
