{{classname}}::{{classname}}(
{{#vars}}
    const {{datatype}}& {{name}}{{#hasMore}},{{/hasMore}}
{{/vars}}
) {{#hasVars}}: {{#vars}}m_{{name}}({{name}}){{#hasMore}}, {{/hasMore}}{{/vars}}{{/hasVars}}
{

}

{{classname}}& {{classname}}::operator=(const {{classname}}& other)
{
{{#vars}}
    this->m_{{name}} = other.m_{{name}};
{{/vars}}
    return *this;
}

{{classname}}::~{{classname}}()
{

}

{{#vars}}
const {{datatype}}& {{classname}}::{{name}}() const
{
    return m_{{name}};
}
{{/vars}}

{{#vars}}
{{classname}}::Builder& {{classname}}::Builder::{{name}}(const {{datatype}}& {{name}})
{
    m_{{name}} = {{name}};
    return *this;
}
{{/vars}}

{{classname}}Ptr {{classname}}::Builder::build() const
{
    return std::make_shared<{{classname}}>(
{{#vars}}
        m_{{name}}{{#hasMore}},{{/hasMore}}
{{/vars}}
    );
}
