#define CATCH_CONFIG_MAIN
#include "catch.hpp"
#include "CallRecorderApi.h"

#include <iostream>

using namespace call::recorder::api;

static std::string URL = "https://app2.virtualbrix.net";
static std::string TOKEN = "55942ee3894f51000530894";
static std::string PHONE = "+16463742122";
static std::string SUCCESS_STATUS = "ok";


{{#operations}}
{{#operation}}
SCENARIO("should send request to {{path}} successfully", "[api]") {
    GIVEN("client") {
        CallRecorderApiPtr api = CallRecorderApi::create(URL);
        {{vendorExtensions.x-name-in-pascal-case}}RequestPtr request = {{vendorExtensions.x-name-in-pascal-case}}Request::Builder{}
{{#vendorExtensions.x-request}}
{{#allVars}}
            .{{name}}("")
{{/allVars}}
{{/vendorExtensions.x-request}}
            .build();

        WHEN("call to {{path}}") {
            try
            {
                api->{{vendorExtensions.x-name-in-camel-case}}(*request);
            }
            catch (const ApiException& e)
            {
                std::string content(std::istreambuf_iterator<char>(*e.getContent()), {});
                std::cout << "Content: " << content << std::endl;
            }

            {{vendorExtensions.x-name-in-pascal-case}}ResponsePtr response = api->{{vendorExtensions.x-name-in-camel-case}}(*request);

            THEN("registered successfully") {
{{#vendorExtensions.x-response}}
{{#allVars}}
                REQUIRE(response->{{name}}() == SUCCESS_STATUS);
                REQUIRE(response->{{name}}() == "");
{{/allVars}}
{{/vendorExtensions.x-response}}
            }
        }
    }
} 

{{/operation}}
{{/operations}}